In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/TimothyW/Fun/cricket_prediction/test_sample.csv")

In [5]:
df

,Unnamed: 0,over_n,batter,bowler,non_striker,batter_runs,extras_runs,total_delivery_runs,wicket_player_out,wicket_kind,...,date,match_type,toss_winner,team_one,team_two,batter_won_toss,bowling_team,year,match_id,preds
0,0,0,M Vijay,KD Mills,G Gambhir,0,0,0,NaN,NaN,...,2010-11-28,ODI,New Zealand,India,New Zealand,False,New Zealand,2010,GuwahatiIndiaNew Zealand2010-11-28,270.304717
1,1,0,M Vijay,KD Mills,G Gambhir,0,0,0,NaN,NaN,...,2010-11-28,ODI,New Zealand,India,New Zealand,False,New Zealand,2010,GuwahatiIndiaNew Zealand2010-11-28,270.304717
2,2,0,M Vijay,KD Mills,G Gambhir,0,0,0,NaN,NaN,...,2010-11-28,ODI,New Zealand,India,New Zealand,False,New Zealand,2010,GuwahatiIndiaNew Zealand2010-11-28,270.304717
3,3,0,M Vijay,KD Mills,G Gambhir,1,0,1,NaN,NaN,...,2010-11-28,ODI,New Zealand,India,New Zealand,False,New Zealand,2010,GuwahatiIndiaNew Zealand2010-11-28,270.371052
4,4,0,G Gambhir,KD Mills,M Vijay,0,0,0,NaN,NaN,...,2010-11-28,ODI,New Zealand,India,New Zealand,False,New Zealand,2010,GuwahatiIndiaNew Zealand2010-11-28,270.371052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109623,164,26,JDF Vandersay,IS Sodhi,KMDN Kulasekara,0,0,0,NaN,NaN,...,2015-12-28,ODI,Sri Lanka,New Zealand,Sri Lanka,True,New Zealand,2015,ChristchurchSri LankaNew Zealand2015-12-28,138.340663
109624,165,27,KMDN Kulasekara,MJ Henry,JDF Vandersay,0,0,0,NaN,NaN,...,2015-12-28,ODI,Sri Lanka,New Zealand,Sri Lanka,True,New Zealand,2015,ChristchurchSri LankaNew Zealand2015-12-28,138.340663
109625,166,27,KMDN Kulasekara,MJ Henry,JDF Vandersay,0,0,0,NaN,NaN,...,2015-12-28,ODI,Sri Lanka,New Zealand,Sri Lanka,True,New Zealand,2015,ChristchurchSri LankaNew Zealand2015-12-28,138.216000
109626,167,27,KMDN Kulasekara,MJ Henry,JDF Vandersay,0,0,0,NaN,NaN,...,2015-12-28,ODI,Sri Lanka,New Zealand,Sri Lanka,True,New Zealand,2015,ChristchurchSri LankaNew Zealand2015-12-28,138.074515
109627,168,27,KMDN Kulasekara,MJ Henry,JDF Vandersay,0,0,0,KMDN Kulasekara,caught,...,2015-12-28,ODI,Sri Lanka,New Zealand,Sri Lanka,True,New Zealand,2015,ChristchurchSri LankaNew Zealand2015-12-28,131.256649

In [13]:
df[["batting_team", 'bowling_team','current_runs','current_wickets','overall_ball_n','first_innings_total_runs','preds',"match_id"]][df.overall_ball_n == 75].sample(50)

,batting_team,bowling_team,current_runs,current_wickets,overall_ball_n,first_innings_total_runs,preds,match_id
88441,New Zealand,Bangladesh,51,3,75,224,225.932208,ChattogramNew ZealandBangladesh2004-11-02
70227,Afghanistan,India,54,1,75,159,251.996336,MirpurAfghanistanIndia2014-03-05
11952,Zimbabwe,Pakistan,32,2,75,244,181.579517,FaisalabadZimbabwePakistan2008-01-30
76554,Bangladesh,South Africa,28,3,75,89,157.758882,PotchefstroomBangladeshSouth Africa2018-05-06
65407,West Indies,South Africa,24,3,75,120,154.419452,CoolidgeWest IndiesSouth Africa2021-09-10
96230,Australia,England,36,5,75,147,174.760951,MumbaiAustraliaEngland2013-02-08
60950,Australia,Sri Lanka,77,0,75,321,321.898890,BrisbaneAustraliaSri Lanka2012-03-04
11027,Scotland,Papua New Guinea,48,2,75,287,221.106327,DubaiScotlandPapua New Guinea2022-04-13
80057,United Arab Emirates,India,34,3,75,102,162.882657,PerthUnited Arab EmiratesIndia2015-02-28
98809,South Africa,Zimbabwe,60,3,75,257,242.245701,BulawayoSouth AfricaZimbabwe2014-08-19
47464,Kenya,Canada,46,4,75,198,162.862338,DelhiKenyaCanada2011-03-07
35619,South Africa,Australia,56,0,75,222,286.806579,DurbanSouth AfricaAustralia2011-10-28
84256,Sri Lanka,Zimbabwe,63,0,75,254,281.241824,KandySri LankaZimbabwe2022-01-21
23027,West Indies,Sri Lanka,47,1,75,226,232.525745,ColomboWest IndiesSri Lanka2005-08-06
63537,New Zealand,India,59,3,75,103,241.452237,ChennaiNew ZealandIndia2010-12-10
100031,England,Australia,52,2,75,259,244.346352,BristolEnglandAustralia2017-07-09
93031,Australia,South Africa,88,2,75,294,307.250552,CenturionAustraliaSouth Africa2016-09-30
13026,Australia,New Zealand,56,0,75,271,293.405834,Mount MaunganuiAustraliaNew Zealand2021-04-07
42255,England,Pakistan,76,0,75,378,317.910257,WorcesterEnglandPakistan2016-06-22
62966,Sri Lanka,England,60,3,75,185,227.501678,Chester-le-StreetSri LankaEngland2021-06-29
13635,Bangladesh,India,93,0,75,307,313.228448,MirpurBangladeshIndia2015-06-18
2216,Bangladesh,New Zealand,39,0,75,174,237.794714,AntiguaBangladeshNew Zealand2007-04-02
49459,England,Australia,50,4,75,138,200.929007,ManchesterEnglandAustralia2015-09-13
5487,England,Ireland,87,0,75,327,332.362350,BangaloreEnglandIreland2011-03-02
35926,New Zealand,Australia,88,1,75,291,319.689748,BirminghamNew ZealandAustralia2017-06-02
36785,Bangladesh,Pakistan,52,0,75,326,252.637946,MirpurBangladeshPakistan2014-03-04
55454,Sri Lanka,England,60,2,75,232,246.114998,LeedsSri LankaEngland2019-06-21
62420,West Indies,New Zealand,32,1,75,177,210.995840,AntiguaWest IndiesNew Zealand2007-03-29
97424,England,West Indies,46,2,75,296,237.207912,AntiguaEnglandWest Indies2017-03-03
66226,Zimbabwe,West Indies,39,0,75,254,228.757275,GuyanaZimbabweWest Indies2010-03-04
2814,Australia,West Indies,57,1,75,204,277.371677,St VincentAustraliaWest Indies2012-03-16
75629,New Zealand,Sri Lanka,63,1,75,294,281.928925,Mount MaunganuiNew ZealandSri Lanka2016-01-05
52396,Sri Lanka,Pakistan,49,2,75,221,226.966339,LeicesterSri LankaPakistan2017-07-15
22097,Australia,ICC World XI,68,0,75,328,307.998497,MelbourneAustraliaICC World XI2005-10-07
22403,Australia,England,34,4,75,133,188.773728,ChelmsfordAustraliaEngland2009-06-29
46848,India,Australia,30,1,75,226,234.103770,BristolIndiaAustralia2017-07-12
8586,South Africa,Pakistan,62,0,75,266,297.940488,Abu DhabiSouth AfricaPakistan2013-11-08
4042,Australia,New Zealand,31,2,75,148,223.669471,WellingtonAustraliaNew Zealand2007-02-16
108458,India,England,62,2,75,170,271.847462,NottinghamIndiaEngland2004-09-01
36199,Bangladesh,Zimbabwe,27,2,75,186,183.517106,MirpurBangladeshZimbabwe2009-10-27
13330,South Africa,Pakistan,46,0,75,234,272.518988,BirminghamSouth AfricaPakistan2013-06-10
33186,Ireland,South Africa,59,0,75,290,270.076917,DublinIrelandSouth Africa2021-07-13
55760,Bangladesh,South Africa,41,1,75,143,219.224019,MirpurBangladeshSouth Africa2008-03-14
108042,Pakistan,West Indies,60,3,75,105,233.706385,NottinghamPakistanWest Indies2019-05-31
68674,Scotland,Zimbabwe,78,1,75,317,283.939570,EdinburghScotlandZimbabwe2017-06-15
93339,Zimbabwe,Pakistan,50,0,75,268,254.794241,LahoreZimbabwePakistan2015-05-29
89516,New Zealand,Pakistan,72,1,75,265,294.041938,ChristchurchNew ZealandPakistan2022-03-26
81166,Bangladesh,Zimbabwe,60,0,75,321,265.603646,SylhetBangladeshZimbabwe2020-03-01
24863,Scotland,Netherlands,31,4,75,136,160.703528,St KittsScotlandNetherlands2007-03-22
68987,India,Sri Lanka,57,1,75,404,273.488466,KolkataIndiaSri Lanka2014-11-13